<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<h1></h1>
<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/img/eu.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Primeiro de seu nome</ion-card-subtitle>
          <ion-card-title>Diogo Vanderlan</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Qualquer história comigo no centro não Será nada mais do que um lindo sorriso confusO</p>
        </ion-card-content>
      </ion-card>
</ion-content>
